@media (max-width: 576px) {
  .relative-sm {
    position: relative;
  }
  .absolute-sm {
    position: absolute;
  }

  .none-sm {
    display: none;
  }
  .block-sm {
    display: block;
  }
  .flex-sm {
    display: flex;
  }

  .h3-sm {
    font-size: 28px;
  }
  .h4-sm {
    font-size: 24px;
  }
  .h5-sm {
    font-size: 20px;
  }
  .h6-sm {
    font-size: 16px;
  }

  .display-sm-1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
  }

  .display-sm-2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
  }

  .label-sm-lg {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
  }

  .label-sm-md {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }

  .label-sm-sm {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
  }

  .label-sm-xs {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
  }

  .paragraph-sm-lg {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
  }

  .paragraph-sm-md {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  .paragraph-sm-sm {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }

  .paragraph-sm-xs {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
  }

  .py-sm-7 {
    padding-block: 7px;
  }

  .pr-sm-8 {
    padding-right: 8px;
  }

  .pl-sm-8 {
    padding-left: 8px;
  }

  .py-sm-8 {
    padding-block: 8px;
  }

  .p-sm-10 {
    padding: 10px;
  }

  .p-sm-12 {
    padding: 12px;
  }

  .py-sm-12 {
    padding-block: 12px;
  }

  .px-sm-12 {
    padding-inline: 12px;
  }

  .pl-sm-12 {
    padding-left: 12px;
  }

  .px-sm-15 {
    padding-inline: 15px;
  }

  .py-sm-16 {
    padding-block: 16px;
  }

  .px-sm-16 {
    padding-inline: 16px;
  }

  .p-sm-24 {
    padding: 24px;
  }

  .py-sm-24 {
    padding-block: 24px;
  }

  .px-sm-24 {
    padding-inline: 24px;
  }

  .pl-sm-24 {
    padding-left: 24px;
  }

  .p-sm-32 {
    padding: 32px;
  }

  .py-sm-32 {
    padding-block: 32px;
  }

  .pt-sm-32 {
    padding-top: 32px;
  }

  .pb-sm-32 {
    padding-bottom: 32px;
  }

  .py-sm-48 {
    padding-block: 48px;
  }

  .pb-sm-48 {
    padding-bottom: 48px;
  }

  .py-sm-64 {
    padding-block: 64px;
  }

  .mr-sm-0 {
    margin-right: 0px;
  }

  .mb-sm-4 {
    margin-bottom: 4px;
  }

  .mr-sm-8 {
    margin-right: 8px;
  }

  .mb-sm-8 {
    margin-bottom: 8px;
  }

  .mr-sm-12 {
    margin-right: 12px;
  }

  .mb-sm-12 {
    margin-bottom: 12px;
  }

  .mr-sm-16 {
    margin-right: 16px;
  }

  .mb-sm-16 {
    margin-bottom: 16px;
  }

  .mr-sm-24 {
    margin-right: 24px;
  }

  .mb-sm-24 {
    margin-bottom: 24px;
  }

  .mb-sm-32 {
    margin-bottom: 32px;
  }

  .mr-sm-40 {
    margin-right: 40px;
  }

  .mb-sm-40 {
    margin-bottom: 40px;
  }

  .mr-sm-48 {
    margin-right: 48px;
  }

  .mb-sm-48 {
    margin-bottom: 48px;
  }
}
