<footer class="py-64 py-sm-32 bg-neutral-100">
  <div class="container">
    <nav class="mb-24">
      <div class="flex align-center justify-between block-sm">
        <div class="mb-sm-8">
          <a href="index.html">
            <img src="../assets/images/logo.svg" alt="logo" />
          </a>
        </div>

        <ul class="flex justify-center align-center block-sm px-sm-12">
          <li class="mb-sm-4">
            <a href="products.html" class="link-neutral py-12 mr-40 mr-sm-0"
              >商品列表</a
            >
          </li>
          <li>
            <a href="story.html" class="link-neutral py-12">品牌故事</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="pt-32 border-t-1-neutral-300 text-center copyright">
      <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
      <p>All Rights Reserved.</p>
    </div>
  </div>
</footer>
