<section class="py-24 bg-primary-200">
  <div class="flex justify-center align-center">
    <strong class="h4 h5-sm mr-24 mr-sm-16">加入會員取得 9 折優惠</strong>
    <a
      href="register.html"
      class="border-none cursor-pointer py-12 py-sm-8 px-24 px-sm-16 text-white bg-neutral-900 font-16 line-1_5 radius-sm cta-register"
    >
      馬上註冊
    </a>
  </div>
</section>
