<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <title>URBNSTEP</title>
  </head>
  <body>
    <%- include('./layout/nav'); -%>
    <nav class="none block-md">
      <ul class="flex-md">
        <li class="w-half">
          <a
            href="products.html"
            class="bg-primary-200 text-center py-12 cursor-pointer"
            >商品列表</a
          >
        </li>
        <li class="w-half">
          <a
            href="products.html"
            class="bg-primary-100 text-center py-12 cursor-pointer"
            >品牌故事</a
          >
        </li>
      </ul>
    </nav>
    <header class="home-header text-white">
      <h1 class="display-1 display-md-2 mb-16 mb-md-8">URBNSTEP</h1>
      <h3 class="h3 h5-md mb-48 mb-md-32">Your Step, Your Statement</h3>
      <button
        class="border-none cursor-pointer bg-primary-300 label-md radius-sm cta-rush"
      >
        <a href="products.html" class="py-12 px-24">立即選購</a>
      </button>
    </header>
    <div class="container mx-auto">
      <section class="py-64 py-md-40">
        <div class="mb-32 mb-md-24 text-center">
          <h2 class="display-2 h2-md mb-12 mb-md-8">New Arrival</h2>
          <h2 class="h2 h4-md">新品上市</h2>
        </div>
        <ul class="row">
          <li class="col-6 col-md-2">
            <div class="mb-40 mb-md-24">
              <img
                src="../assets/images/new-1.png"
                alt="Monoverse"
                class="mb-12 mb-md-8 painting-wall"
              />
              <h5 class="h5 h6-md mb-4 mb-md-0">Monoverse</h5>
              <p class="font-medium">NT$3,600</p>
            </div>
          </li>
          <li class="col-6 col-md-2">
            <div class="mb-40 mb-md-24">
              <img
                src="../assets/images/new-2.png"
                alt="PLATFORM 404"
                class="mb-12 mb-md-8 painting-wall"
              />
              <h5 class="h5 h6-md mb-4 mb-md-0">PLATFORM 404</h5>
              <p class="font-medium">NT$2,600</p>
            </div>
          </li>
          <li class="col-6 col-md-2">
            <div>
              <img
                src="../assets/images/new-3.png"
                alt="URBN Force"
                class="mb-12 mb-md-8 painting-wall"
              />
              <h5 class="h5 h6-md mb-4 mb-md-0">URBN Force</h5>
              <p class="font-medium">NT$3,200</p>
            </div>
          </li>
          <li class="col-6 col-md-2">
            <div>
              <img
                src="../assets/images/new-4.png"
                alt="Mode90"
                class="mb-12 mb-md-8 painting-wall"
              />
              <h5 class="h5 h6-md mb-4 mb-md-0">Mode90</h5>
              <p class="font-medium">NT$4,000</p>
            </div>
          </li>
        </ul>
      </section>
    </div>

    <div class="container mx-auto">
      <section class="py-64 py-md-40">
        <h2 class="h2 h4-md mb-16">熱銷補貨</h2>
        <ul class="row product-md-row overflow-x-md-auto">
          <li class="col-3 product-md-col cursor-pointer">
            <a href="product.html" class="relative product-item">
              <img src="../assets/images/product-3.png" alt="Melty Kiss" />
              <div class="absolute top-0 left-0">
                <p class="py-8 px-12 bg-primary-100 label-sm text-highlight">
                  人氣 No.1
                </p>
              </div>
            </a>
          </li>
          <li class="col-3 product-md-col cursor-pointer">
            <a href="product.html" class="relative product-item">
              <img src="../assets/images/product.png" alt="PLATFORM 404" />
              <div class="absolute top-0 left-0">
                <p class="py-8 px-12 bg-primary-100 label-sm text-highlight">
                  人氣 No.1
                </p>
              </div>
            </a>
          </li>
          <li class="col-3 product-md-col cursor-pointer">
            <a href="product.html" class="relative product-item">
              <img src="../assets/images/product-6.png" alt="PLATFORM 404" />
              <div class="absolute top-0 left-0">
                <p class="py-8 px-12 bg-primary-100 label-sm text-highlight">
                  人氣 No.1
                </p>
              </div>
            </a>
          </li>
          <li class="col-3 product-md-col cursor-pointer">
            <a href="product.html" class="relative product-item">
              <img src="../assets/images/product-4.png" alt="BOOMBLOK" />
              <div class="absolute top-0 left-0">
                <p class="py-8 px-12 bg-primary-100 label-sm text-highlight">
                  人氣 No.1
                </p>
              </div>
            </a>
          </li>
        </ul>
      </section>
    </div>

    <section class="py-48 py-md-24">
      <div class="banner text-white">
        <h3 class="display-2 h2-md mb-16 flex-md flex-md-col">
          <span class="mb-md-8"> URBNSTEP </span>
          <span class="h1 h3-md text-highlight-300 px-24 mb-md-8">x</span>
          <span> Kevin Chen </span>
        </h3>
        <h3 class="h2 h5-md mb-32 mb-md-24">跨界聯名，限量發售</h3>
        <p
          class="paragraph-lg paragraph-md-md text-muted mb-48 mb-md-32 flex-md flex-md-col"
        >
          <span class="mb-md-4">新銳漫畫家 Kevin Chen 親自操刀設計</span>
          <span class="none-md">，</span>
          <span>街頭能量全面引爆！</span>
        </p>
        <button
          href="products.html"
          class="border-none cursor-pointer bg-primary-300 label-md radius-sm cta-rush"
        >
          <a href="products.html" class="py-12 px-24"> 立即搶購 </a>
        </button>
        <img src="../assets/images/star.svg" alt="star" class="star-img" />
        <img
          src="../assets/images/sparkle.svg"
          alt="sparkle"
          class="sparkle-img"
        />
      </div>
    </section>

    <div class="container mx-auto">
      <section class="py-64 py-md-40">
        <h2 class="h2 h4-md mb-16">依系列選購</h2>
        <ul class="row">
          <li class="col-3 col-md-2 mb-md-12 cursor-pointer">
            <a href="products.html" class="relative product-item">
              <img
                src="../assets/images/product-6.png"
                alt="URBN RUNNER 慢跑系列"
              />
              <div
                class="absolute top-0 bottom-0 left-0 right-0 flex flex-col justify-center align-center text-white bg-black-opacity-40"
              >
                <h3 class="h3 h5-lg h6-md mb-8">URBN RUNNER</h3>
                <h4 class="h4 h5-lg h6-md">慢跑系列</h4>
              </div>
            </a>
          </li>
          <li class="col-3 col-md-2 mb-md-12 cursor-pointer">
            <a href="products.html" class="relative product-item">
              <img
                src="../assets/images/product-11.png"
                alt="STREETMODE 滑板系列"
              />
              <div
                class="absolute top-0 bottom-0 left-0 right-0 flex flex-col justify-center align-center text-white bg-black-opacity-40"
              >
                <h3 class="h3 h5-lg h6-md mb-8">STREETMODE</h3>
                <h4 class="h4 h5-lg h6-md">滑板系列</h4>
              </div>
            </a>
          </li>
          <li class="col-3 col-md-2 cursor-pointer">
            <a href="products.html" class="relative product-item">
              <img
                src="../assets/images/product-9.png"
                alt="CHUNK DISTRICT 厚底系列"
              />
              <div
                class="absolute top-0 bottom-0 left-0 right-0 flex flex-col justify-center align-center text-white bg-black-opacity-40"
              >
                <h3 class="h3 h5-lg h6-md mb-8">CHUNK DISTRICT</h3>
                <h4 class="h4 h5-lg h6-md">厚底系列</h4>
              </div>
            </a>
          </li>
          <li class="col-3 col-md-2 cursor-pointer">
            <a href="products.html" class="relative product-item">
              <img src="../assets/images/product-10.png" alt="COLLAB ZONE" />
              <div
                class="absolute top-0 bottom-0 left-0 right-0 flex flex-col justify-center align-center text-white bg-black-opacity-40"
              >
                <h3 class="h3 h5-lg h6-md mb-8">COLLAB ZONE</h3>
                <h4 class="h4 h5-lg h6-md">聯名企劃</h4>
              </div>
            </a>
          </li>
        </ul>
      </section>
    </div>

    <div class="container mx-auto">
      <section class="py-64 py-md-40 mb-48 mb-md-24">
        <h2 class="h2 h4-md mb-16">穿搭靈感</h2>
        <div class="inspiration-row overflow-x-md-auto">
          <div class="inspiration-col-4">
            <ul class="inspiration-row">
              <li class="inspiration-col-6">
                <div class="mb-8">
                  <img
                    src="../assets/images/inspiration-1.png"
                    alt="inspiration-1"
                    class="painting-wall"
                  />
                </div>
              </li>
              <li class="inspiration-col-6">
                <div class="mb-8">
                  <img
                    src="../assets/images/inspiration-2.png"
                    alt="inspiration-2"
                    class="painting-wall"
                  />
                </div>
              </li>
              <li class="inspiration-col-12">
                <img
                  src="../assets/images/inspiration-3.png"
                  alt="inspiration-3"
                  class="painting-wall"
                />
              </li>
            </ul>
          </div>
          <div class="inspiration-col-4">
            <ul class="inspiration-row">
              <li class="inspiration-col-6">
                <div class="mb-8">
                  <img
                    src="../assets/images/inspiration-4.png"
                    alt="inspiration-4"
                    class="painting-wall"
                  />
                </div>
              </li>
              <li class="inspiration-col-6">
                <div class="mb-8">
                  <img
                    src="../assets/images/inspiration-5.png"
                    alt="inspiration-5"
                    class="painting-wall"
                  />
                </div>
              </li>
              <li class="inspiration-col-6">
                <div class="mb-8">
                  <img
                    src="../assets/images/inspiration-6.png"
                    alt="inspiration-6"
                    class="painting-wall"
                  />
                </div>
              </li>
              <li class="inspiration-col-6">
                <div class="mb-8">
                  <img
                    src="../assets/images/inspiration-7.png"
                    alt="inspiration-7"
                    class="painting-wall"
                  />
                </div>
              </li>
              <li class="inspiration-col-6">
                <img
                  src="../assets/images/inspiration-8.png"
                  alt="inspiration-8"
                  class="painting-wall"
                />
              </li>
              <li class="inspiration-col-6">
                <img
                  src="../assets/images/inspiration-9.png"
                  alt="inspiration-9"
                  class="painting-wall"
                />
              </li>
            </ul>
          </div>
          <div class="inspiration-col-4">
            <ul class="inspiration-row">
              <li class="inspiration-col-12">
                <div class="mb-8">
                  <img
                    src="../assets/images/inspiration-10.png"
                    alt="inspiration-10"
                    class="painting-wall"
                  />
                </div>
              </li>
              <li class="inspiration-col-6">
                <img
                  src="../assets/images/inspiration-11.png"
                  alt="inspiration-11"
                  class="painting-wall"
                />
              </li>
              <li class="inspiration-col-6">
                <img
                  src="../assets/images/inspiration-12.png"
                  alt="inspiration-12"
                  class="painting-wall"
                />
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>

    <%- include('./layout/join'); -%> <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
